################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainForm/bin
/MainForm/obj
*.user
*.suo
