<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharepointListImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SharepointListImport.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>elvis</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>opsba0</value>
            </setting>
            <setting name="SiteURL" serializeAs="String">
                <value>http://empire.opsba.org:50300</value>
            </setting>
        </SharepointListImport.Properties.Settings>
    </userSettings>
</configuration>